
.lemur-main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    padding: 20px;
}

/* CONVERSATION */
.lemur-conversation-inner {
    padding: 0 0 5px 0;
    margin-right: 10px;
}
.lemur-conversation-item {
    padding: 5px 0;
    position: relative;
}

.lemur-conversation-body {
    background: #f5f5f5;
    font-size: 0.875em;
    width: auto;
    margin-left: 60px;
    padding: 8px 10px;
    position: relative;
}
.lemur-conversation-body:before {
    border-color: transparent #f5f5f5 transparent transparent;
    border-style: solid;
    border-width: 6px;
    content: "";
    cursor: pointer;
    left: -12px;
    position: absolute;
    top: 25px;
}
.lemur-conversation-item.item-right .lemur-conversation-body {
    background: #dcfffa;
}
.lemur-conversation-item.item-right .lemur-conversation-body:before {
    border-color: transparent transparent transparent #dcfffa;
    left: auto;
    right: -12px;
}
.lemur-conversation-item.item-right .lemur-conversation-user {
    float: right;
}
.lemur-conversation-item.item-right .lemur-conversation-body {
    margin-left: 0;
    margin-right: 60px;
}
.lemur-conversation-body > .lemur-name {
    font-weight: 600;
    font-size: 1.125em;
}
.lemur-conversation-body > .lemur-time {
    position: absolute;
    font-size: 0.875em;
    right: 10px;
    top: 0;
    margin-top: 10px;
    color: #605f5f;
    font-weight: 300;
}
.lemur-conversation-body > .lemur-time:before {
    content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: 4px;
    font-size: 0.875em;
}
.lemur-conversation-body > .lemur-text {
    padding-top: 6px;
}
.lemur-conversation-new-message {
    padding-top: 10px;
}

img.lemur-conversation-user-avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
    float: right;
    margin-top: 5px;
}


img.lemur-conversation-bot-avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
}
