/* input [type = file]
----------------------------------------------- */

input[type=file] {
    display: block !important;
    right: 1px;
    top: 1px;
    height: 34px;
    opacity: 0;
    width: 100%;
    background: none;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

.control-fileupload {
    display: block;
    border: 1px solid #d6d7d6;
    background: #FFF;
    border-radius: 0px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 4px 10px 2px 10px;
    overflow: hidden;
    position: relative;
}
.control-fileupload:before, input, label {
    cursor: pointer !important;
}
/* File upload button */
.control-fileupload:before {
    /* inherit from boostrap btn styles */
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: color 0.2s ease;

    /* add more custom styles*/
    content: 'Browse';
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 2px;
    line-height: 20px;
    text-align: center;
}
.control-fileupload:hover, .control-fileupload:focus,
.control-fileupload:before {
    color: #333333;
    background-color: #e6e6e6;
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    transition: background-position 0.2s ease-out;
}


label {
    line-height: 24px;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-right: 90px;
    margin-bottom: 0px;
    cursor: text;
}

.fc-event-container .call_back{
    background-color:#00a65a;
    border-color:#00a65a;
    color: white;
}


.fc-event-container .task{
    background-color:#0073b7;
    border-color:#0073b7;
    color: white;
}


.fc-event-container .other{
    background-color:#f56954;
    border-color:#f56954;
    color: white;
}

.fc-time:after { content: "m"; }

.fc-axis.fc-time:after { content: " "; }

/* pillbox li container item */
.select2-selection__choice {
    position: relative;
    padding-left: 15px; /* to account for the 'x' no longer taking up space */
}

/* the 'x' */
.select2-selection__choice__remove {
    position: absolute;
    left: 0; right: 0; /* to fill width */
    padding-left: 5px; /* whatever matches your pillbox padding */

    color: transparent !important; /* hide the x */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white !important;
    border: none !important;
    cursor: default;
    float: left;
    margin: 1px  !important;
    padding: 1px  !important;
}

li.dropdown-status{

    margin-bottom: 2px!important;
    display:block!important;
    padding-left: 6px;

}


li.dropdown-status label{

    width:100%;
    margin-left: 3px;
    color: #525252;
}


li.dropdown-status input{

    margin-right: 6px;
}

li.dropdown-status span{

    margin-right: 6px;
}

.box.box-bg-blue {
    border-top-color: #0073b7 !important;
}

.box.box-bg-yellow {
    border-top-color: #ffed4a;
}

.box.box-bg-green {
    border-top-color: #38c172;
}

.box.box-bg-red {
    border-top-color: #e3342f;
}


.box.box-bg-black {
    border-top-color: #000000;
}


.space-button{
    margin-bottom: 5px;
    width:100%;
}

.text-muted-wrapped {
    color: #6c757d !important;
    word-wrap: break-word;
}


.select2-md .select2-container--default .select2-selection--single {
    border-radius: 0px; !important
}

.select2-md .select2-container .select2-selection--single {
    height: inherit; !important
}

.select2-md .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;  !important
}

.select2-md .select2-container--default .select2-selection--single, .select2-md .select2-selection .select2-selection--single {
    padding: 14px 8px 10px 8px; !important
}


.select2-md .select2-container--default .select2-selection--single, .select2-md .select2-selection .select2-selection--single {

    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;

}

.select2-md .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: 0px;
}


.select2-sm .select2-container--default .select2-selection--single {
    border-radius: 0px; !important
}

.select2-sm .select2-container .select2-selection--single {
    height: inherit; !important
}

.select2-sm .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;  !important
}

.select2-sm .select2-container--default .select2-selection--single, .select2-sm .select2-selection .select2-selection--single {
    padding: 10px 4px 6px 4px; !important
}


.select2-sm .select2-container--default .select2-selection--single, .select2-sm .select2-selection .select2-selection--single {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;

}

.select2-results__options {
    font-size: 12px;
    line-height: 1.5;

}

.select2-sm .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: 0px;
}

.select2-selection .select2-selection--single{
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.bg-primary {
    background-color: #3490dc !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #2176bd !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
    background-color: #545b62 !important;
}

.bg-success {
    background-color: #38c172 !important;
}

a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
    background-color: #2d995b !important;
}

.bg-info {
    background-color: #6cb2eb !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
    background-color: #3f9ae5 !important;
}

.bg-warning {
    background-color: #ffed4a !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
    background-color: #ffe817 !important;
}

.bg-danger {
    background-color: #e3342f !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #c51f1a !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #dae0e5 !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #1d2124 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-transparent {
    background-color: transparent !important;
}
.nohover:hover{
    cursor: default !important;
}

.btn-info.nohover:hover{
    background-color: #6cb2eb !important;
}

.select2-container {
    width: 100% !important;
}

.invoice-footer{
    text-align: center;
    font-size: 0.8em;
    color: #6c757d;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 8px;
    padding-left: 8px;
}

.pre-field{
    padding-right: 2px;
}

.post-field{
    padding-left: 3px;
}

.has-error{
    border-color:#a94442 !important;
}

.has-error .select2-selection{
    border-color:#a94442 !important;
}

.help-block.form-error{
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-group.has-error{
    line-height: 1.5;
}

.help-block.form-info{
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-group.has-info{
    line-height: 1.5;
}


h3.box-title .btn-group-xs>.btn, .btn-xs {
    padding: 0px 5px;
}



.has-error .control-fileupload{
    border-color:#a94442 !important;
}


.help-block.form-error .control-fileupload{
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-body .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.has-revalidate{
    line-height: 1.5;
}


@keyframes highlight {
    0% {
        background: #ffff99;
    }
    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 2s;
}

.callout a.action-link {
    color: #fff;
    text-decoration: none;
}

.callout a.action-link:hover {
    color: #000;
    text-decoration: none;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00a65a !important;
    border: none !important;
    cursor: default;
    float: left;
    margin: 1px !important;
    padding: 2px !important;
}


.skin-blue .sidebar-mini .sidebar-collapse .logo{
    display:none;
}

table#dataTableBuilder tbody tr:hover {
    background-color: #ffa;
    cursor: pointer;
}

table#dataTableBuilder tbody tr:hover > .sorting_1 {
    background-color: #ffa;
    cursor: pointer;
}


textarea.form-control-span {
    height: auto;
}

.form-control-span {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}
.form-control-span {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
}

.nav>li>a {
    padding: 10px 10px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: #d2d6de !important;
}
.select2-container .select2-selection--multiple,
.select2-container .select2-selection--single {
    box-sizing: inherit  !important;
    cursor: inherit  !important;
    height: 34px  !important;
    user-select: none  !important;
    line-height: 1.42857143  !important;
    -webkit-user-select: none  !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.info-box-smaller {
    display: block;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.progress-smaller {
    height: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.info-box-icon-smaller {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 23px;
    line-height: 55px;
    background: rgba(0,0,0,0.2);
}

.info-box-content-smaller {
    padding: 5px 10px;
    margin-left: 55px;
}


.users-list>li img.max-icon {
    border-radius: 50%;
    max-width: 24px;
    height: auto;
    vertical-align: middle;
}

.direct-chat-messages{
    height: 400px;
}
.direct-chat-text a{
    color:black;
}

.nav-pills>li.active>a {
    font-weight: 600;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    border-top-color: #f0ad4e;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #f0ad4e;
}
.nav>li>a {
    padding: 10px 10px;
}
.nav-pills>li>a {
    border-radius: 0;
    border-top: 3px solid transparent;
    color: #444;
}
.nav-pills>li>a {
    border-radius: 4px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.bot-image {
    /* margin: 0 auto; */
    width: 64px;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.bot-image-header {
    /* margin: 0 auto; */
    width: 28px;
    padding: 1px;
    border: 1px solid #d2d6de;
}

.white-bot-image {
    /* margin: 0 auto; */
    width: 64px;
    padding: 3px;
    border: 3px solid #d2d6de;
    background-color: white;
}

.btn-group.bot-commands {
    display: flex;
}

.bot-commands .btn {
    flex: 1
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.info-box-small {
    display: block;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 2px;
    margin-bottom: 15px;
}

.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}
.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.avatar-wrapper:hover .profile-pic,
.avatar-wrapper:hover .image-pic{
    opacity: 0.5;
}
.avatar-wrapper .profile-pic,
.avatar-wrapper .image-pic{
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic:after,
.avatar-wrapper .image-pic:after{
    font-family: FontAwesome;
    content: "ï€‡";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}
.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
}

#create-avatar{
    width:300px;
    height: auto;
}

.home-info-box-content {
    padding: 5px 10px;
    /* margin-left: 90px; */
    text-align: center;
}



.nav-pills .small {
    padding: 5px 10px;
}

.item.selected-conversation  {
    background-color: lightgray;
}

.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    height: 100px;
    border: 3px solid #d2d6de;
}

.link-button {
    border: none;
    padding: 0!important;
    text-decoration: none;
    cursor: pointer;
    color: #3c8dbc;
    background-color:transparent;
}

.link-button:hover, .link-button:active, .link-button:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}


#log-actions {
    display:inline-flex;
    list-style-position: inside;
    padding-left: 0;
    margin-bottom: 0;
}
#log-actions li{
    display: inline;
}
